  .layout {
        border: 3.5px solid black;
        border-radius: 40px;
        width: 30%;
        height: 50%;
        box-sizing: border-box;
        background-color: rgb(209, 196, 196);
        padding: 20px;
        text-align: center;
      }
      .green,
      .yellow,
      .red {
        background-color: green;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: inline-block;
        margin: 8px;
      }
      .yellow {
        background-color: yellow;
      }
      .red {
        background-color: red;
      }